
.grid-container {
    grid-template-rows: 60px 1fr 40px;
    grid-template-columns: 1fr;
    grid-template-areas:
            "head"
            "main"
            "foot";
    margin: 0px auto;
    background-color: #5A2782;
    color: white;
    min-width: 320px;
    max-width: 1024px;
    height: 100vh;
}

.grid-container header {
    grid-area: head;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.grid-container main {
    grid-area: main;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
            "img"
            "sign-up"
            "teacher"
            "parent"
            "gallery";
}

.grid-container main img {
    grid-area: img;
    min-width: 320px;
    max-width: 100%;
    height: auto;
}

.grid-container main .teacher-info {
    grid-area: teacher;
    background-color: grey;
    border-right: solid;
}

.grid-container main .parent-info {
    grid-area: parent;
    background-color: grey;
}

.grid-container main .gallery {
    grid-area: gallery;
    background-color: #5A2782;
}

.grid-container main .sign-up {
    grid-area: sign-up;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #5A2782;
}

.grid-container footer {
    grid-area: foot;
    display: flex;
    height: 40px;
    justify-content: center;
    align-content: center;
    background-color: #5A2782;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-submit input {
    background-color: #5A2782;
    color: white
}

.teacher-info, .parent-info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 640px) {

    .grid-container main {
        grid-area: main;
        display: grid;
        grid-auto-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
                "img       img      sign-up  sign-up"
                "gallery   gallery  gallery  gallery"
                "teacher   teacher  parent   parent";
    }

}

@media (min-width: 1025px) {

    .grid-container main {
        grid-area: main;
        display: grid;
        grid-auto-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
                "img       img      sign-up  sign-up"
                "gallery   gallery  gallery  gallery"
                "teacher   teacher  parent   parent";
    }
}