
.grid-container {
    grid-template-rows: 60px 1fr 40px;
    grid-template-columns: 1fr;
    grid-template-areas:
            "head"
            "main"
            "foot";
    margin: 0px auto;
}

.grid-container header {
    grid-area: head;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.grid-container main {
    grid-area: main;
    display: grid;
    grid-auto-rows: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr;
    grid-template-areas:
            "img"
            "teacher"
            "parent"
            "gallery"
            "sign-up";
}

.grid-container main img {
    grid-area: img;
    min-width: 320px;
    max-width: 100%;
    height: auto;
    /* object-fit: contain; */
}

.grid-container main .teacher-info {
    grid-area: teacher;
    background-color: grey;
}

.grid-container main .parent-info {
    grid-area: parent;
    background-color: grey;
}

.grid-container main .gallery {
    grid-area: gallery;
    background-color: #5A2782;
}

.grid-container main .sign-up {
    grid-area: sign-up;
    background-color: white;
}

.grid-container footer {
    grid-area: foot;
    height: 40px;
}

@media (min-width: 460px) {


}

@media (min-width: 1025px) {


}